:root{
    --main-color: darkred;
    --second-color: #ececec;
}
.f-p{
    font-family: 'Nova Square', cursive;
}
.f-s{
    font-family: 'Rajdhani', sans-serif;
}
.fc-p{
    color: var(--main-color);

}
.fc-s{
    color: var(--second-color);
}


.imgcostum{
    width: 70px;
    height: 70px;
}
.nav-link{
    font-size:x-small;
}
.nav-item{
    padding: 0px 40px 0px 40px;
}
.headercostum{
    margin-top: 117px;
}
.imgcustom{
    background: url("./Red/media/mountains2.png"), linear-gradient(360deg, rgba(136, 61, 61, 0) 0%, rgb(242, 249, 250) 100%), url('./Red/media/switzerland-862870_1920.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
   

}
.pvirgolette::after{
    content:'"' ;
    color: var(--main-color);
    font-size: 80px;
    position: absolute;
    bottom: -60px;

}
.pvirgolette::before{
    content:'"' ;
    color: var(--main-color);
    font-size: 80px;
    position: absolute;
    top: -50px;
    left: -20px;
}
.bgcolor{
    background-color: var(--second-color);
}
.fa-campground{
    font-size: 50px;
}
.pseudoelementopallino::after{
    content:'' ;
    background-color: var(--second-color);
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 50%;
    margin-top: 80px;
    border: 2px solid var(--main-color);

}
.pseudoelementopallino{
    border-bottom: 2px solid var(--main-color) ;
}
.fa-map{
    font-size: 50px;
}
.fa-mountain{
    font-size: 50px;
}
.fa-snowflake{
    font-size: 50px;
}

.h2left{
    color: var(--main-color);
}
.h2right{
    color: var(--main-color);
    
}

.rowcustom{
    height: 50vh;
}
.bg-container{
    background-color: #ececec;
    background-image: url(./Red/media/trees2.png);
    background-position:center;
    
}
.bg-grigio{
    background-color: #ececec;

}
.btn{
    border-radius: 0%;
    background-color: var(--main-color);

}
.timeline{
    border-left: 3px solid var(--main-color);
    
}
.pallino::before{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    background-color:white;
    position: absolute;
    left: -11px;
}
.alberi1{
    
    background-image:url(./Red/media/single.png);
    background-position:bottom right;
    background-repeat: no-repeat;
}
.imgcard{
    border: 2px solid var(--main-color);
    border-radius: 100%;
    height: 80px;
    width: 80px;
    align-items: center;
    padding: 8px;
}
.imgnebbia{
    border: 2px solid var(--main-color);
    border-radius: 100%;
    height: 200px;
    width: 200px;
    align-items: center;
    padding: 8px;
}
.footercolor{
    background-color: var(--main-color);

}
.ancoracustom{
    text-decoration: none;
    list-style: none;